.card {
  width: 100%;
  aspect-ratio: 1/1;
  transition: transform 250ms ease-in;
  i {
    font-size: 3rem;
    line-height: 3rem;
  }
}
.card:hover {
  cursor: pointer;
}
@keyframes flip {
  from {
    transform: scale(0.5);
  }
  to {
    transform: rotateY(180deg);
  }
}
.flip {
  animation: flip 250ms ease-in;
}
